.color {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}

.color label {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  select {
    height: 35px;
  }
}

.color button {
  margin: 10px auto;
  padding: 8px;
  width: 80%;
}
